h1,
h2,
h3 {
  text-shadow: 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 0px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 0px 1px 0 #FFFFFF;
}

a {
  text-decoration: none;
}

.web_side_block .btn,
.web_center_block .btn,
.web_center_block .fc-event,
.web_center_block .active>a {
  color: white;
}

.web_side_block .btn:hover,
.web_center_block .btn:hover,
.web_center_block .fc-event {
  color: white;
}

.list-group a,
.list-group-item a,
.well a,
.web_side_block .btn-default,
.web_center_block .btn-default {
  color: #333;
}

.list-group a:hover,
.list-group-item a:hover,
.well a:hover,
.web_side_block a.btn-default:hover,
.web_center_block a.btn-default:hover {
  color: #DB0A4C;
}

.fc-event-title {
  white-space: normal; /* 允許文字換行 */
  overflow: visible;   /* 確保文字不會被截斷 */
}
/*
320 x 480 – Smartphone
480 x 320 – Smartphone in landscape orientation
768 x 1024 – iPad
1024 x 768 – iPad in landscape orientation / netbook
*/
@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

@media (max-width: 991px) {}

@media (max-width: 640px) {}

@media (max-width: 480px) {}

@media (max-width: 320px) {}

@media (min-width: 768px) {
  #container{
      max-width: 1280px;
  }
}
